<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        padding: 0;
        border: 0;
        margin: 0;
      }

      .green {
        width: 20px;
        height: 20px;
        background: green;
        border-radius: 50%;
      }

      .red {
        width: 20px;
        height: 20px;
        background: red;
        border-radius: 50%;
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
    <script src="../static/js/index.js"></script>
  </head>
  <body style="background-image: url('../static/image/background.jpeg'); display: flex; justify-content: center; align-items: center; height: 100vh">
    <div class="mainLayout" style="width: 100%; background: black; height: 100%; display: flex; justify-content: center; align-items: center">
      <div style="background: white; width: 45%; height: 80%; padding: 1%; border-radius: 15px; margin-right: 2%; box-shadow: 5px 5px 10px rgb(149, 148, 148)">
        <div class="time" style="height: 10%">촬영된 시간</div>
        <div style="display: flex; justify-content: center; align-items: center; height: 90%">
          <img class="videos" style="border: 5px solid; width: 90%; height: 90%; border-radius: 50px" />
        </div>
      </div>
      <div style="border: 1px solid"></div>
      <div
        style="
          background: white;
          width: 45%;
          height: 80%;
          display: flex;
          flex-direction: column;
          padding: 1%;
          border-radius: 15px;
          box-shadow: 5px 5px 10px rgb(149, 148, 148);
        "
      >
        <div style="display: flex; align-items: center">
          <div class="plugState" style="height: 10%; display: flex; justify-content: center; align-items: center">{{plugStat}}</div>
          {% if plugStat == "ON" %}
          <div class="plugLight green" style="margin-left: 10px"></div>
          {% else %}
          <div class="plugLight red" style="margin-left: 10px"></div>
          {% endif %}
        </div>
        <div style="border: 1px solid; margin-top: 3%"></div>
        <div style="height: 90%" class="dataList">
          {% for data in datas %}
          <div
            onclick="openImage('{{data.picture_file}}')"
            target="_blank"
            style="display: flex; justify-content: center; align-items: center; height: 10%; border-bottom: 1px solid"
          >
            <div style="width: 5%">{{data.id}}</div>
            <div style="width: 40%">{{data.time}}</div>
            <div style="width: 55%">
              <img src="data:image/jpg;base64,{{ data.picture_file }}" style="width: 50px; height: 50px" />
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
